@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.headerGradColor {
  @apply bg-gradient-to-t from-dark-1 to-dark-2 sm:to-dark-3 bg-clip-text text-transparent;
}

.borderDashed {
  @apply border-light-5 border-dashed;
}

.shadowHero {
  box-shadow: inset 0 0 300px #f8f9fa;
}

.disableHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
